MIX_ENV=prod
K8S_ENV=none

SECRET_KEY_BASE=teLYgf7BaV/pRhL5elBWI2Eq+8AfOvn+IRi8dggK7pLyQrWAaWZp6TsRLAXVrWrc

GUARDIAN_KEY=c9HvJb0Y6D5AwgV/8/auM0Qq84VJvQ+9RGUY34T15I2LgcK7wKmsEdNJAVmJfaTS

BOOKCLUB_HOST=localhost
BOOKCLUB_CALLBACK_URL=http://localhost:4000/api/accounts/authenticate/

POSTMARK_SERVER_TOKEN=
POSTMARK_SENDER=no-reply-bookclub@foxboxapp.com

BOOKCLUB_SENTRY_CODE=""

PGDATA=/var/lib/postgresql/data/pgdata

POSTGRES_HOST=postgres
POSTGRES_DB=bookclub
POSTGRES_USER=bookclub
POSTGRES_PASSWORD=bookclub
POSTGRES_PORT=5432
